<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>dynamic route cache</title>
    <link href="http://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet">
    <script src="http://cdn.bootcss.com/jquery/1.12.4/jquery.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.js"></script>
</head>
<body style="margin:10px">
    <table class="table table-bordered">
    	<thead>
            <tr>
                <th>动态路由键</th>
                <th>目标服务器</th>
            </tr>
        </thead>
        <tbody>
        #if ($!{dynRouteCaches.size()} == 0)
        	<tr>
	            <td colspan="2">no record.</td>
	        </tr>
        #else
	        #foreach($dynRoute in $dynRouteCaches)
	        <tr>
	            <td>$dynRoute.routeKey</td>
	            <td>$dynRoute.clusterName</td>
	        </tr>
	        #end
	    #end
        </tbody>
    </table>
</body>
</html>