<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>reliable mode queued requests</title>
    <link href="http://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet">
    <script src="http://cdn.bootcss.com/jquery/1.12.4/jquery.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.js"></script>
</head>
<body style="margin:10px">
    <table class="table table-bordered">
    	<thead>
            <tr>
                <th>报文头</th>
                <th>报文内容</th>
            </tr>
        </thead>
        <tbody>
        #if ($!{queues.size()} == 0)
        	<tr>
	            <td colspan="2">no record.</td>
	        </tr>
        #else
	        #foreach($request in $queues)
	        <tr>
	            <td>$request.spiderPacketHead</td>
	            <td>$request.requestBody</td>
	        </tr>
	        #end
	    #end
        </tbody>
    </table>
</body>
</html>